body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    display: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: left;
    text-emphasis: none;
}
th, td {
    border: 0.02px solid lightgray;
    padding: 8px; 
}
.a { 
    text-align: left;
}
.b { 
    text-align: right;
}
.c { 
    width: 20%;
}
