/* Estructura básica
nombreEtiqueta {
  atributo : valorAtributo;
}
Ejemplo:
h1 {
  color:blue;
  background-color: white;
  text-align: center;
} */

/*poner color azul al cuerpo */

/*poner la cabecera a rojo y texto justificado al centro */

/* poner todo lo que vaya en la etiqueta article a color verde y con fondo amarillo. */

/* Poner el pie de página con letra rosa, fondo negro y texto alineado a la derecha */
